*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
}

:root {
    --Darkcyan: hsl(158, 36%, 37%);
    --Cream: hsl(30, 38%, 92%);
    --Very-dark-blue: hsl(212, 21%, 14%);
    --Dark-grayish-blue: hsl(228, 12%, 48%);
    --color-white: hsl(0, 0%, 100%);
}

@font-face {
    font-family: montserrat;
    src: url(../montserrat/Montserrat-Regular.ttf);
}

body{
    font-family: serif;
    background: var(--Cream);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem 0;
}

p{
    Font-size: 15px;
    font-family: montserrat, sans-serif;
    font-weight: 500;
}

p, del{
    color: var(--Dark-grayish-blue);
}
h1{
    font-size: clamp(2rem, 1rem + 5vw , 2.5rem);
    margin-block: .7rem;
    color: rgb(7, 34, 24);
    line-height: .9;
    font-weight: bolder;
}

section {
    width: 100%;
}

img {
    max-width: 100%;
}

.container {
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
}

.card {
    background: var(--color-white);
    border-radius: 12px;
    margin-bottom: 2rem;
    
}

.product-image{
    border-radius: 12px 12px 0 0 ;
    object-fit: cover;
}

.label{
    letter-spacing: 5px;
    text-transform: uppercase;
}

.class-info{
    padding: 2em;
}

.price{
    display: flex;
    align-items: center;
    gap: 2em;
    margin-block: .8rem;
    font-family: montserrat;
}
.price span{
    font-size: 40px;
    color: var(--Darkcyan);
}


.btn{
    width: 100%;
    padding-block: 1.2em;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .7em;
    background: var(--Darkcyan);
}
.btn span{
    font-size: .8rem;
    font-weight: bold;
    color: var(--color-white);
}

.btn:hover{
    background: rgb(7, 34, 24);
    cursor: pointer;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}


@media (min-width: 500px ) {
    .card{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .product-image{
        border-radius: 12px 0 0 12px;
        height: 100%;
    }
}